$background: #282a32;
$foreground: #f8f8f2;

$base00: #21222c;
$base01: #ff5555;
$base02: #50fa7b;
$base03: #f1fa8c;
$base04: #bd93f9;
$base05: #ff79c6;
$base06: #8be9fd;
$base07: #f8f8f2;
$base08: #6272a4;
