$background: #141b1e;
$foreground: #dadada;

$base00: #232a2d;
$base01: #e57474;
$base02: #8ccf7e;
$base03: #e5c76b;
$base04: #67b0e8;
$base05: #c47fd5;
$base06: #6cbfbf;
$base07: #b3b9b8;
$base08: #38474a;
