$background: #1e2326;
$foreground: #d3c6aa;

$base00: #1e2326;
$base01: #e67e80;
$base02: #a7c080;
$base03: #dbbc7f;
$base04: #7fbbb3;
$base05: #d699b6;
$base06: #384b55;
$base07: #9da9a0;
$base08: #7a8478;
