$background: #080808;
$foreground: #bdbdbd;

$base00: #323437;
$base01: #ff5d5d;
$base02: #8cc85f;
$base03: #e3c78a;
$base04: #80a0ff;
$base05: #cf87e8;
$base06: #79dac8;
$base07: #c6c6c6;
$base08: #949494;
