$background: #161616;
$foreground: #dde1e6;

$base00: #161616;
$base01: #ee5396;
$base02: #42be65;
$base03: #ffe97b;
$base04: #33b1ff;
$base05: #be95ff;
$base06: #3ddbd9;
$base07: #f2f4f8;
$base08: #525252;
