$background: #191724;
$foreground: #e0def4;

$base00: #26233a;
$base01: #eb6f92;
$base02: #31748f;
$base03: #f6c177;
$base04: #9ccfd8;
$base05: #c4a7e7;
$base06: #ebbcba;
$base07: #e0def4;
$base08: #6e6a86;
