$background: #faf4ed;
$foreground: #575279;

$base00: #f2e9e1;
$base01: #b4637a;
$base02: #286983;
$base03: #ea9d34;
$base04: #56949f;
$base05: #907aa9;
$base06: #d7827e;
$base07: #575279;
$base08: #9893a5;
