$background: #e1e2e7;
$foreground: #3b4252;

$base00: #e1e2e7;
$base01: #f52a65;
$base02: #587539;
$base03: #8c6c3e;
$base04: #2e7de9;
$base05: #9854f1;
$base06: #007197;
$base07: #6172b0;
$base08: #a1a6c5;
