$background: #24283b;
$foreground: #c0caf5;

$base00: #1d202f;
$base01: #f7768e;
$base02: #9ece6a;
$base03: #e0af68;
$base04: #7aa2f7;
$base05: #bb9af7;
$base06: #7dcfff;
$base07: #a9b1d6;
$base08: #2e3c64;
