$background: #0c0e0f;
$foreground: #edeff0;

$base00: #232526;
$base01: #df5b61;
$base02: #78b892;
$base03: #de8f78;
$base04: #6791c9;
$base05: #bc83e3;
$base06: #67afc1;
$base07: #e4e6e7;
$base08: #4c4e4f;
