@use "../themes/theme.scss" as theme;
@use "var.scss" as var;

.music {
  @include var.window;
  // border: 1px solid rgba($foreground, 0.1);
  min-width: 30rem;
  padding: 7px;
}

.music-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 5rem;
  min-width: 5rem;
  border-radius: var.$widget-radius;
  margin-right: 10px;
}

.music-text {
  margin: 0.8rem 0 0 0;
}

.music-title {
  font-size: 1rem;
}

.music-artist {
  color: theme.$base08;
  font-size: 0.8rem;
}

.music-name {
  background-color: theme.$main-color;
  color: theme.$background;
  padding: 0.25rem 1rem;
  border-radius: var.$widget-radius;
  font-size: 1rem;
}

.music-actions-box {
  background: theme.$background-alt;
  border-radius: var.$widget-radius;
  .music-action {
    color: theme.$base07;
    font-size: 1.2rem;
    margin: 0 3px 0 3px;
    &:hover {
      color: theme.$main-color;
    }
  }
}

.close-music {
  margin-bottom: 10px;
  background: theme.$background-alt;
  padding: 4px 5px;
  border-radius: var.$widget-radius;
  &:hover {
    color: theme.$main-color;
  }
}

.music-end-box {
  margin: 0 5px 0 0rem;
}
