@use "../themes/theme.scss" as theme;
@use "var.scss" as var;

.notifications-center {
  @include var.window;
  background: theme.$background;
  padding-top: 10px;
  min-width: 300px;
  min-height: 500px;
  padding: 0;
}

.notification-box {
  background-color: theme.$background;
  color: theme.$foreground;
  border-radius: var.$widget-radius;
  margin: 1rem;
  box-shadow: 0 0 4 3 #000;
}

.notification-info {
  margin: 1rem;
  margin-bottom: 0;
}

.notification-image {
  margin-right: 1rem;
}

.notification-app {
  font-weight: normal;
  color: theme.$foreground;
}

.notification-summary {
  font-weight: bold;
  font-size: 1.1rem;
}

.notification-body {
  color: theme.$foreground;
  font-weight: normal;
}

.notifications-scroll {
  min-height: 500px;
  margin-top: 1rem;
}

.notifications-header {
  background: rgba(theme.$base08,0.3);
  border-radius: var.$widget-radius var.$widget-radius 0 0;

  .notifications-header-text {
    font-size: 1.5rem;
    color: theme.$foreground;
    margin: 5;
  }

  .notifications-clear-button {
    color: theme.$background;
    background: theme.$main-color;
    margin: 5px;
    padding: 0.5rem 1rem;
    border-radius: var.$widget-radius;
    transition: 0.3s;

    &:hover {
      background-color: theme.$base07;
    }
  }
}

.notification-action {
  background: rgba(theme.$base08, 0.2);
  color: theme.$foreground;
  padding: 0.3rem 2rem;
  margin: 7px 0.3rem 0 0.3rem;
  transition: 0.3s;
  border-radius: var.$widget-radius;

  &:hover {
    background: theme.$main-color;
  }
}

.notification-action-box {
  margin-left: 0.25rem;
  margin-bottom: 1rem;
}

.notification-close {
  background: rgba(theme.$base08, 0.2);
  color: theme.$foreground;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 100%;
  padding: 4px 5px;
  transition: 0.3s;

  &:hover {
    background-color: theme.$base01;
  }
}

.notifications-popup-body {
  @include var.window;
  min-width: 20rem;
  min-height: 0;
  background-color: theme.$background;
  color: theme.$foreground;
  padding: 0rem;
}
