.bar {
  background-color: $background;
  color: $foreground;
}

.cpu-mem {
  @include bar-group;
  border-radius: $bar-radius 5px 5px $bar-radius;
  margin: 3px 0 3px 5px;

  .mem_module {
    border-radius: 0px;
    padding: 0 0;
    border-radius: 8px 0px 0px 8px;
    .membar {
      color: $main-color2;
      background-color: $color8;
      border-radius: 500px;
      .iconmem {
        color: $main-color;
        font-size: 0rem;
        margin: 0.6rem;
      }
    }
  }

  .cpu_module {
    border-radius: 0px;
    .cpubar {
      color: $main-color;
      background-color: $color8;
      border-radius: 500px;
      .iconcpu {
        color: $main-color2;
        font-size: 0rem;
        margin: 0.6rem;
      }
    }
  }
}

.workspaces {
  background-color: #000;
  padding: 5px 5px;
  transition: 500ms;

  button {
    padding: 0px 5px;
    margin: 4px 2px;
    font-size: 0px;
    border-radius: $bar-radius;
    min-height: 0px;
    background-color: rgba($foreground, 0.0);
    &.focused {
      color: $foreground;
      background-color: $main-color;
      margin: 3px 1px;
      padding: 0 14px;
    }
  }
}

.logo-image {
  background-image: $pp;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 1.5rem;
  min-width: 1.5rem;
  border-radius: 100%;
  margin: 2px 0 2px 12px;
  box-shadow: 2px -2px 2px 0px #000;
}

.time {
  @include bar-group;
  margin: 3px 5px 3px 0;
  border-radius: $bar-radius 5px 5px $bar-radius;

  &:hover {
    color: $main-color;
  }
}

.barbuttons {
  @include bar-group;
  margin: 3px 12px 3px 0;
  border-radius: 5px $bar-radius $bar-radius 5px;

  .settingsb {
    color: $main-color;

    &:hover {
      color: $foreground;
    }
  }

  .pickerb {
    color: $main-color;

    &:hover {
      color: $foreground;
    }
  }

  .notificationsb {
    color: $main-color;

    &:hover {
      color: $foreground;
    }
  }
}

.trayb {
  color: $foreground;
  margin: 0 3px 0 0;

  &:hover {
    color: $color1;
  }
}

.music-bar {
  min-height: 0rem;
  background: #000;
  border-radius: 0 0 13 0;
}

.music-bar-title {
  font-size: 5px;
}

.music-bar-artist {
  font-size: 5px;
}

.music-bar-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  //min-height: 1.5rem;
  min-width: 1.5rem;
  border-radius: $widget-radius;
  margin: 2px 11px 2px 0;
}

.music-bar-actions-box {
  background: #000;
  border-radius: 0 0 0 13px;
  padding: 0 0 0 11px;
}

.music-bar-action {
  font-size: 15px;
  color: $main-color2;

  &:hover {
    color: $color1;
  }
}

.app-id {
  @include bar-group;
  border-radius: 5px $bar-radius $bar-radius 5px;
  margin: 3px 0 3px 5px;
}
