.vol-slider-osd { 
  margin: 0rem;
    .vol-label-osd {
      font-size: 1.5rem;
      color: rgba(#000, 0.7);
  }
    & scale trough {
       all: unset;
       border-radius: $widget-radius;
       background-color: $background;
       border: 3px solid $background;
       min-height: 220px;
       min-width: 2rem;
       margin: 1rem;
       box-shadow: 0px 0px 4px 3px #000;
    & highlight {
       all: unset;
       background: $color1;
       color: #000000;
       border-radius: $widget-radius;
       box-shadow: 0px 0px 3px #000;
    }
  }
}
