.rrradius {
  border: 5px solid $background;
}

.ra1 {
  background-color: transparent;
  padding: 0 15;
  border-radius: 100%;
  box-shadow: 15px -16px 0px 2px #000000;
}

.ra2 {
  background-color: transparent;
  padding: 0 15;
  border-radius: 100%;
  box-shadow:  -15px -16px 0 2 #000000;
}

.tra1 {
  background-color: transparent;
  padding: 0 15;
  border-radius: 100%;
  box-shadow: 14px -17px 0 2 $background;
}

.tra2 {
  background-color: transparent;
  padding: 0 15;
  border-radius: 100%;
  box-shadow:  -14px -17px 0 2 $background;
}

.tra3 {
  background-color: transparent;
  padding: 0 15;
  border-radius: 100%;
  box-shadow: 15px 20px 0 4 $background;
}

.tra4 {
  background-color: transparent;
  padding: 0 15;
  border-radius: 100%;
  box-shadow:  -14px 14px 0 2 $background;
}

.tra {
  background-color: transparent;
}
