#pulseaudio {
    color: @color1;
    font-weight: bold;
    padding: 0 4;
    margin-top: 3px;
    margin-bottom: 3px;
    background: alpha(@color1, 0.25);
    border-radius: 0;
}
#pulseaudio:hover {
    color: @foreground;
    background: @color1;
}

#pulseaudio.muted {
    color: #24273a;
}
