#clock {
    font-weight: bold;
    color: @foreground;
    padding: 0 10;
    background: @color8;
    margin: 3 0 3 0;
    border-radius: 8;
    text-shadow: 2px 2px 2px @background;
}
#clock:hover {
    color: @foreground;
    background: @color1;
    transition: all 0.25s linear;
}
