#custom-memoryicon {
	color: @foreground;
        background: alpha(@color1, 0.25);
	padding: 0 5;
	font-size: 15;
	border-radius: 0;
	margin: 3 0;
}
#custom-cpuicon {
        background: alpha(@color1, 0.25);
        padding: 0 5;
	font-size: 15;
	border-radius: 12 0 0 12;
	margin: 3 0;
}
#custom-clockicon {
        background: alpha(@color1, 0.25);
        padding: 0 5;
	font-size: 15;
}
#custom-volicon {
        background: alpha(@color1, 0.25);
        padding: 0 5;
	font-size: 15;
	border-radius: 12 0 0 12;
	margin: 3 0;
}
#custom-langicon {
        background: alpha(@color1, 0.25);
        padding: 0 5;
	font-size: 15;
	margin: 3 0;
}
#custom-neticon {
        background: alpha(@color1, 0.25);
        padding: 0 5;
	font-size: 15;
	border-radius: 10 10;
	margin: 3 0;
}
