#custom-logo {
    border-radius: 20px;
    color: @foreground;
    font-weight: bold;
    font-size: 18px;
    margin-right: 5px;
    background-image: url("../../sway/pp.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 130%;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 0 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}
#custom-logo:hover {
    background: @foreground;
    color: @background;
}
