#custom-notification {
    color: @foreground;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}
#custom-notification:hover {
	background: @foreground;
	color: @background;
}
