#tray {
   padding: 0px 5px;
   background: transparent;
   border-radius: 5px;
   margin-top: 3px;
   margin-bottom: 3px;
}

#tray menu {
  background: @background;
  margin: 2px;
  padding: 5px;
  border: 1px solid @foreground;
}
