#workspaces {
  /* padding-right: 4px;
   padding-left: 4px; */
/*   font-weight: bold;
   min-height: 0px;
   padding: 2px 10px 2px 10px;
   background-color: @background;
   border-radius: 20px;
   font-size: 0px; */
    border-radius: 0;
   padding: 0px 10px 0px 10px;
   background: @transparent;
   border-radius: 8 8 0 0;
   margin: 5 0;
}

#workspaces button {
   background: @foreground;
   border-radius: 8px;
   /*border: 1.5px solid @color1;*/
   color: @color1;
   padding: 0px 10px 0px 10px;
   margin-right: 2px;
   margin-left: 2px;
  /* margin-top: 0.333rem;
   margin-bottom: 0.333rem; */
   font-weight: bold;
   box-shadow: 0px 0px 3px #000000;
}

#workspaces button.empty {
   /*border: 1.7px solid @foreground;*/
   font-weight: bold;
   padding: 0px;
}

#workspaces button.focused {
   color: @color1;
   padding-right: 25px;
   padding-left: 25px;
  /* margin-top: 0.5px;
   margin-bottom: 0.5px; */
   font-weight: bold;
   background: @color1;
}

#workspaces button:hover {
    transition: all 0.25s;
    background: @color1;
}
