#workspaces {
  /* padding-right: 4px;
   padding-left: 4px; */
/*   font-weight: bold;
   min-height: 0px;
   padding: 2px 10px 2px 10px;
   background-color: @background;
   border-radius: 20px;
   font-size: 0px; */
 border-radius: 1rem;
    padding: 0.477rem;
}

#workspaces button {
   color: @color1;
/*   border-radius: 9px;
   font-weight: bold;
   min-width: 0px;*/
    padding: 0px 3px 0px 3px;
    border-radius: 1rem;
    margin: 0 0.0rem;
    transition: 0.2s;
}

#workspaces button.empty {
   color: @color8;
   font-weight: bold;
}

#workspaces button.active {
   color: @color1;
   background: @color1;
   font-weight: bold;
   padding: 0 1rem;
} 

