@import '../../.cache/wal/colors-waybar.css';
@import 'styles/init.css';

* {
    font-family: "noto sans nerd font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
   /* background: @background; */
    background-color: alpha(@background, 0.99);
    border-radius: 10 10 0 0;
}

tooltip {
  margin: 2px;
  background: @background;
  color: @foreground;
  border: 1px solid @foreground;
}

/*.modules-left {
    background: @background;
    transition-duration: .5s;
    border-radius: 0;
    min-height: 0;
}*/
