configuration {
    drun-display-format: "{icon} {name}";
    show-icons: true;
    display-drun: "  drun";
    display-run: "  run";
    display-filebrowser: "  filebrowse";
    display-window: " ";
    modi: "drun,run,window,filebrowser";
    location: 0;
}

@theme "~/.config/rofi/theme.rasi"
