window {
	font-size: 17px;
	font-family: "NotoSans Nerd Font";
	background-color: rgba(64, 64, 64, 0.5);
	color: #C0C0C0;
	margin: 0px;
	border: 2px solid #808080;
    	border-radius: 5px;
}

#entry:selected {
	background-color: #808080;
	border-radius: 13px;
        margin: 0px 2px 0px 2px; 
}

#input{
	background-color: #505050;
	color: #C0C0C0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10;
	border-bottom-right-radius: 10;
	border-radius: 5px;
	border: 2px solid #505050;
	margin: 20px;
}
