@import '../../.cache/wal/colors-waybar.css';

* {
    all: unset;
    font-family: "ubuntu nerd font";
   /* min-height: 0; */
}

window {
 /*  background-image: url("background.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-color: black; */

   background: @background;
}

#clock-label {
  background: alpha(@color8, 0.3);
  font-size: 2rem;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px #000;
}

#date-label {
  font-size: 0;
}

#input-label {
  background: alpha(@color8, 0.3);
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px #000;
  margin: 0.5rem;
}


#input-field {
  background: alpha(@color8, 0.3);
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px #000;
  margin: 0.5rem;
}

#window-box {
  background: #1A1B1F;
  box-shadow: 0px 0px 4px #000;
  padding: 20px 50px;
  border-radius: 15px;
}

#unlock-button {
  background: alpha(@color8, 0.3);
  color: @foreground;
  padding: 5px;
  margin: 0 5px 0.5rem 0;
  border-radius: 8px;
  box-shadow: 0px 0px 4px #000;
}

#error-label {
  color: @color1;
}
