     @import '../../../../.cache/wal/colors-waybar.css';
 * {
    font-family:"noto sans nerd font"; 
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: alpha(@background, 0.90);;
    transition-duration: .5s;
    border-radius: 10px 10px 0px 0px;
   /* border: 2px solid @color1; */
}

#workspaces {
  /* padding-right: 4px;
   padding-left: 4px; */
   font-weight: bold;
   min-height: 0px;
   /*padding: 2px 10px 2px 10px;*/
   border-radius: 20px;
   font-size: 0px;
   border: 2px solid alpha(@color1, 0.25);
   margin: 4px 0px;
   background-color: alpha(@color1, 0.40)
}

#workspaces button {
   color: alpha (@color1, 0.90);
   font-weight: bold;
   min-width: 0px;
   padding: 0px 7px 0px 7px;
  /* margin-top: 2px;
   margin-bottom: 2px; */
  /* margin-right: 2px;
   margin-left: 2px; */
   border-radius: 0px;
   /*background-color: alpha(@color1, 0.20);*/
}

#workspaces button:first-child {
	border-radius: 15px 0px 0px 15px;
}
#workspaces button:last-child {
	border-radius: 0px 15px 15px 0px;
}

#workspaces button.empty {
   color: alpha(@foreground, 0.90);
   font-weight: bold;
}

#workspaces button.active {
   /* background: @color1;  */
   color: @foreground;
   padding-right: 3px;
   padding-left: 3px;
   font-weight: bold;
   border-radius: 15px;
   background: @color1;
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#language,
#custom-power,
#custom-spotify,
#custom-logo,
/*#custom-cava,*/
#custom-picker,
#custom-weather,
#custom-nwglook,
#custom-playerlabel,
#custom-search,
#custom-monitor,
#window,
#pulseaudio-slider,
#custom-notification,
#custom-exit {
   padding: 0 10px;
   padding-top: 0px;
   padding-bottom: 0px;
   margin: 4px 0;
   color: @foreground;
}

#clock {
   /* margin-top: 4px;
    margin-bottom: 4px; */
    font-weight: bold;
    border-radius: 20px;
    margin-left: 5px;
    background: alpha(@color1, 0.25);
}
#clock:hover {
    background: @color1;
}

#cpu {
    font-weight: bold;
    color: @color1;
    border-radius: 20px 0px 0px 20px;
    margin-left: 5px;
    margin-right: 0px;
    font-size: 20;
    padding-left: 5px;
    padding-right: 0px;
    background: alpha(@color1, 0.25);
}

#memory {
    font-weight: bold;
    color: @color1;
    border-radius: 0px 20px 20px 0px;
    font-size: 20px;
    padding-left: 0px;
    padding-right: 5px;
    margin-right: 5px;
    background: alpha(@color1, 0.25);
}

#network {
	  color: @color1;
    /* margin-top: 4px;
    margin-bottom: 4px; */
    font-size: 14px;
    border-radius: 20px 0px 0px 20px;
    background: alpha(@color1, 0.25);
} 
#network:hover {
	color: @foreground;
	background: @color1;
}

 #network.disconnected {
   /* background-color: #f53c3c; */
} 

#pulseaudio {
    color: @color1;
    font-weight: bold;
    font-size: 14px;
    background: alpha(@color1, 0.25);
}
#pulseaudio:hover {
    color: @foreground;
    background: @color1;
}

#pulseaudio.muted {
    color: #24273a;
}

#tray {
   padding: 0px 10px;
   padding-top: 3px;
   padding-bottom: 3px;
   border-radius: 20px;
   margin-right: 5px;
   margin-top: 4px;
   margin-bottom: 4px;
   background: alpha(@color1, 0.25);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
   /* background-color: #eb4d4b; */
}

#language {
    font-weight: bold;
   /* margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 4px; */
    border-radius: 0px 20px 20px 0px;
    background: alpha(@color1, 0.25);
}

#custom-power {
    background-color: #343F44;
    color: #A7C080;
    border-radius: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 3px;
}

#custom-spotify {
    background-color: #292c3c;
    font-weight: bold;
    border-radius: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
}

#custom-logo {
    border-radius: 20px;
    color: @foreground;
    font-weight: bold;
    font-size: 15px;
    margin-left: 5px;
    background: alpha(@color1, 0.25);
}
#custom-logo:hover {
    background: @foreground;
    color: @background;
}

#window {
    font-weight: bold;
    color: @foreground;
    margin-left: 5px;
    padding-right: 7px;
    padding-left: 7px;
    border-radius: 20px;
    background: alpha(@color1, 0.25);
}

#custom-cava {
   color: @color1;
   min-height: 0px;
   border-radius: 20px;
   margin-top: 35px;
   font-family: Hack Nerd font;
   font-size: 20px;
}
#custom-cava:hover {
	color: @background;
	background: @foreground;
}

#custom-separator {
	color: #49464f;
  background-color: @background;
}

#custom-notification {
	color: @foreground;
	font-size: 14px;
  background: @background;
  margin-left: 5px;
  border-radius: 20px;
  margin-right: 5px;
      background: alpha(@color1, 0.25);
}
#custom-notification:hover {
	background: @foreground;
	color: @background;
}

#custom-picker {
        color: @color1;
        border-radius: 20px 0px 0px 20px;
        margin-left: 5px;
        background: alpha(@color1, 0.25);
}
#custom-picker:hover {
	color: @foreground;
	background: @color1;
}

#custom-playerctl-forward,
#custom-playerctl-play,
#custom-playerctl-backward {
	padding: 0 5px;
	margin: 20px 0px;
	font-size: 20px;
}
#custom-playerctl-forward:hover,
#custom-playerctl-backward:hover {
	color: @foreground;
}

#custom-playerctl-play:hover {
	color: @color1;
}

#custom-playerctl-forward,
#custom-playerctl-backward {
	color: @color1;
}
#custom-playerctl-play {
	color: @foreground;
    background: alpha(@color1, 0.25);
}
#custom-playerctl-backward {
  border-radius: 20px 0px 0px 20px;
  padding-left: 5px;
    background: alpha(@color1, 0.25);
      	margin-left: 5px;

}
#custom-playerctl-forward {
  border-radius: 0px 24px 24px 0px;
  padding-right: 5px;
  background: alpha(@color1, 0.25);
}

#custom-weather {
	color: @foreground;
	font-weight: bold;
  background-color: @background;
  border-radius: 0px 10px 10px 0px;
}

#custom-nwglook {
	color: @color1;
    background: alpha(@color1, 0.25);
}
#custom-nwglook:hover {
	color: @foreground;
	background: @color1;
}

#custom-playerlabel {
	color: @foreground;
	background: @color1;
	border-radius: 24px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}
#custom-search {
    background: @color1;
    border-radius: 24px 24px 13px 24px;
    color: @foreground;
    font-weight: bold;
    font-size: 17;
}
#custom-search:hover {
        background: @foreground;
	color: @background;
}
#custom-monitor {
	color: @color1;
	font-weight: bold;
	border-radius: 0px 20px 20px 0px;
    background: alpha(@color1, 0.25);
}
#custom-monitor:hover {
	color: @foreground;
	background: @color1;
}
#pulseaudio-slider slider {
  background: @color1;
  /*background-color: transparent;*/
  box-shadow: none;
 /* margin-right: 7px; */
}
#pulseaudio-slider trough {
  /*margin-top: -3px;*/
  min-width: 90px;
  min-height: 10px;
  /*margin-bottom: -4px;*/
  border-radius: 90px;
  background: @foreground;
}
#pulseaudio-slider highlight {
  border-radius: 8px;
  background-color: @color1;
}
#pulseaudio-slider {
  background: alpha(@color1, 0.25);
  margin: 4 0;
  min-height: 0px;
}

#custom-exit {
	color: @color1;
	font-weight: bold;
	border-radius: 20px;
	margin: 22 5 22 5;
    background: alpha(@color1, 0.25);
}
#taskbar {
      background: alpha(@color1, 0.25);
      margin: 22 5 22 5;
      border-radius: 20px;
}
